<ion-view view-title="Playlists">
    <ion-content scroll="false">
        <div class="container">
            <div class="question-container" ng-show="hasFinishedPlaying == false">
                <div style="display:table-row">
                    <div class="question">
                        <div ng-if="questionAsked == true">
                            <span>{{currQuestion.question}}</span>
                        </div>
                        <div ng-if="questionAsked == false">
                            <span>{{currQuestion.answer}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="" ng-show="questionAsked == true">
                    <div class="row">
                        <button class="answer-choices" ng-click="chooseChoice1()" ng-class="{'selected': choice1Selected}">
                            <span>{{currQuestion.choice1}}</span>
                        </button>
                        <button class="answer-choices" ng-click="chooseChoice2()" ng-class="{'selected': choice2Selected}">
                            <span>{{currQuestion.choice2}}</span>
                        </button>
                    </div>
                    <div class="row">
                        <button class="answer-choices" ng-click="chooseChoice3(); " ng-class="{'selected': choice3Selected}">
                            <span>{{currQuestion.choice3}}</span>
                        </button>
                        <button class="answer-choices" ng-click="chooseChoice4(); " ng-class="{'selected': choice4Selected}">
                            <span>{{currQuestion.choice4}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="avatar-container" ng-if="hasFinishedPlaying == false">
                <div ng-if="questionAsked == true">
                    <div class="button-clear avatar" ng-click="askQuestion()">
                        <div>
                            <img class="avatar-image" src="img/avatars/blinking.gif">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
