<ion-view view-title="Playlists">
    <ion-content scroll="false">
        <div class="container">
            <div class="question-container" ng-show="hasFinishedPlaying == false">
                <div style="display:table-row">
                    <div class="question">
                        <div ng-if="questionAsked == true">
                            <span>{{currQuestion.question}}</span>
                        </div>
                        <div ng-if="questionAsked == false">
                            <span>{{currQuestion.answer}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="">
                <div class="animate-answer-choices" ng-show="questionAsked == true">
                    <div class="row">
                        <button class="answer-choices" ng-click="chooseChoice1()" ng-class="{'selected': choice1Selected}">
                            <span>{{currQuestion.choice1}}</span>
                        </button>
                        <button class="answer-choices" ng-click="chooseChoice2()" ng-class="{'selected': choice2Selected}">
                            <span>{{currQuestion.choice2}}</span>
                        </button>
                    </div>
                    <div class="row">
                        <button class="answer-choices" ng-click="chooseChoice3(); " ng-class="{'selected': choice3Selected}">
                            <span>{{currQuestion.choice3}}</span>
                        </button>
                        <button class="answer-choices" ng-click="chooseChoice4(); " ng-class="{'selected': choice4Selected}">
                            <span>{{currQuestion.choice4}}</span>
                        </button>
                    </div>
                </div>
                <div class="point-container item-animate-point" ng-show="questionAsked == false">
                    <div class="row" ng-show="youGotItRight">
                        <span class="headline">Correct!</span>
                    </div>
                    <div class="row" ng-show="youGotItRight">
                        <span class="headline2">Points For You!</span>
                    </div>
                    <div class="row" ng-show="!youGotItRight">
                        <span class="headline">Wrong!</span>
                    </div>
                    <div class="row" ng-show="!youGotItRight">
                        <span class="headline2">No Points For You</span>
                    </div>
                    <div class="row">
                        <span class="headline-score" ng-show="hasFinishedPlaying != true">Score: {{score}}</span>
                        <span class="headline-score" ng-show="hasFinishedPlaying == true">Final Score: {{score}}/{{quizLength}}</span>
                    </div>
                </div>
            </div>
            <div class="avatar-container" ng-if="hasFinishedPlaying == false">
                <div ng-if="questionAsked == true">
                    <div class="button-clear avatar" ng-click="askQuestion()">
                        <div>
                            <img class="avatar-image" src="img/avatars/blinking.gif">
                        </div>
                    </div>
                </div>
                <div ng-if="questionAsked == false ">
                    <div class="button-clear avatar" ng-click="askQuestion()" ng-hide="hasStartedPlaying == 'almost' ">
                        <div>
                            <img class="avatar-image" src="img/avatars/dance-2.gif" ng-if="youGotItRight">
                        </div>
                        <div>
                            <img class="avatar-image" src="img/avatars/tantrum.gif" ng-if="!youGotItRight">
                        </div>
                        <div class="avatar-message" ng-show="canShake">
                            <span>Shake me for the question</span>
                        </div>
                    </div>
                    <div class="button-clear avatar" ng-click="askQuestion()" ng-show="hasStartedPlaying == 'almost' ">
                        <div>
                            <img class="avatar-image" src="img/avatars/blinking.gif">
                        </div>
                        <div class="avatar-message">
                            <span>Shake me to start</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
