<ion-view view-title="Playlists">
    <ion-content scroll="false">
        <div class="container">
            <div class="question-container" ng-show="hasFinishedPlaying == false">
                <div style="display:table-row">
                    <div class="question">
                        <div ng-if="questionAsked == true">
                            <span>{{currQuestion.question}}</span>
                        </div>
                        <div ng-if="questionAsked == false">
                            <span>{{currQuestion.answer}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="avatar-container" ng-if="hasFinishedPlaying == false">
                <div ng-if="questionAsked == true">
                    <div class="button-clear avatar">
                        <div>
                            <img class="avatar-image" src="img/avatars/blinking.gif">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
